<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{breadcrumb -> f:count()} > 1">
    <div class="base-breadcrumb">
        <div class="container">
            <div class="row">
                <ul class="breadcrumb col-12">
                    <f:for each="{breadcrumb}" as="item" iteration="Iterator">
                        <li class="breadcrumb-item">
                            <f:if condition="{Iterator.isLast}">
                                <f:then>{item.title}</f:then>
                                <f:else>
                                    <a href="{item.link}" class="link breadcrumb-link">
                                        {item.title}
                                    </a>
                                </f:else>
                            </f:if>

                        </li>
                    </f:for>
                </ul>
            </div>
        </div>
    </div>
</f:if>
</html>