<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<ul class="footer-nav">
    <f:for each="{headerMenu}" as="menuItem">
        <li class="nav-item {f:if(condition: menuItem.hasSubpages, then: 'dropdown')}">
            <f:if condition="{menuItem.hasSubpages}">
                <f:then>
                    <div class="sub-menuItem">
                        <f:for each="{menuItem.children}" as="menuItemLevel2">
                            <f:if condition="{menuItemLevel2.spacer}">
                                <f:then><div class="dropdown-divider"></div></f:then>
                                <f:else>
                                    <f:link.page pageUid="{menuItemLevel2.data.uid}"
                                                 class="dropdown-item {f:if(condition: menuItemLevel2.active, then: 'active')}">
                                        {menuItemLevel2.title}
                                    </f:link.page>
                                </f:else>
                            </f:if>
                        </f:for>
                    </div>
                </f:then>
                <f:else>
                    <f:link.page pageUid="{menuItem.data.uid}" class="nav-link {f:if(condition: menuItem.active, then:'active')}">
                        {menuItem.title}
                    </f:link.page>
                </f:else>
            </f:if>
        </li>
    </f:for>
</ul>
<ul class="social-media-list">
    <li class="social-media-item"><a href="{settings.corporate.socialmedia.facebook}" class="social-media-link">Facebook</a></li>
    <li class="social-media-item"><a href="{settings.corporate.socialmedia.instagram}" class="social-media-link">Instagram</a></li>
    <li class="social-media-item"><a href="{settings.corporate.socialmedia.x}" class="social-media-link">X</a></li>
    <li class="social-media-item"><a href="{settings.corporate.socialmedia.tiktok}" class="social-media-link">TikTOk</a></li>
</ul>
<!--TODO Add newsletter-->
</html>
