<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<footer class="base-footer">
  <div class="base-footer__content">
    <div>
      <h3> Outdoor Allround </h3>
      <p> Av. del Istmo, 6</p>
      <p> 35627 La Pared, Las Palmas</p>
      <a href="{f:uri.page(pageUid: site.rootPageId)}">legals</a>
    </div>
    <div>
      <a href="{f:uri.page(pageUid: site.rootPageId)}">Career</a>
    </div>
  </div>
  <span class="base-footer__nav">
    <f:render partial="Nav" arguments="{headerMenu:headerMenu, languageMenu:languageMenu, navClass:'select--on-light-bg'}"/>
  </span>
</footer>
</html>


