<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="base-nav">
  <ul>
    <f:for each="{headerMenu}" as="menuItem">
      <li>
        <a class="nav--menu-item" href="{menuItem.link}">{menuItem.title}</a>
      </li>
    </f:for>
  </ul>
  <select>
    <f:for each="{languageMenu}" as="lang">
      <option value="{lang.link}">
        {lang.navigationTitle}
      </option>
    </f:for>
  </select>
</nav>
</html>

<style>
  .base-nav, .base-nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .nav--menu-item {
    text-decoration: none;
    color: white;
  }
</style>