<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <nav class="base-nav">
    <f:for each="{headerMenu}" as="menuItem">
      <span>
        <a class="nav--menu-item {f:if(condition: menuItem.active, then: 'active')}" href="{menuItem.link}">{menuItem.title}</a>
      </span>
    </f:for>
    <select class="{f:if(condition: navClass, then: navClass, else: 'select--on-dark-bg')}">
      <f:for each="{languageMenu}" as="lang">
        <option value="{lang.link}" {f:if(condition: lang.active, then:'selected')}>
          {lang.navigationTitle}
        </option>
      </f:for>
    </select>
  </nav>
</html>