<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{products}">
    <div class="card-group">
        <f:for as="product" each="{products}">
            <div class="card">
                <f:image image="{product.image.originalResource}" width="200c" height="200c" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{procuts.title}</h5>
                    <p class="card-text">{product.lead}</p>
                    <f:link.action class="card-link" action="show" pageUid="{settings.showPid}" arguments="{product: product}">
                        <f:translate key="product.teaser.link_label" />
                    </f:link.action>
                </div>
            </div>
        </f:for>
    </div>
</f:if>

</html>
