<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{products}">
    <div class="container" id="product-teaser">
        <div class="row">
            <div class="col-12">
                <div class="card-group">
                    <f:for as="product" each="{products}">
                        <div class="card col-6 col-lg-4">
                            <f:image image="{product.images.0}" class="card-img-top" />
                            <div class="card-body">
                                <f:link.action class="base-button--text card-link" action="show" pageUid="{settings.showPid}" arguments="{product: product}">
                                    {product.title}
                                </f:link.action>
                            </div>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
    </div>
</f:if>

</html>
