@charset "UTF-8";
* {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  color: $color-dark;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,button{
  cursor: pointer;
}

select {
  border: 1px solid;
  border-radius: 4px;
  padding: $spacing-xxs $spacing-sm;
  background-color: transparent;
}

select:focus-within{
  outline: none;
}

.select--on-light-bg {
  border-color: $color-dark;
  color: $color-dark;
}

.select--on-dark-bg {
  border-color: $color-primary-100;
  color: $color-light
}