.card-group {
   display: flex;
   flex-wrap: wrap;
   margin-top: $spacing-lg;
   margin-bottom: $spacing-lg;
}

.card {
   position: relative;
   padding: 0.25rem;

   @media (min-width: 768px) {
      padding: 0.5rem;
   }
}

.card-body {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
}

.card-link {
   color: var(--color-dark);;
}

.card-img-top {
   width: 100%;
   height: auto;
   aspect-ratio: 1;
   object-fit: cover;

   @media (min-width: 768px) {
      aspect-ratio: 2/3;
   }
}