.card {
   position: relative;
   padding: 0.25rem;

   .card-link {
      display: block;
      overflow: hidden;
      border-radius: $border-radius-cards;

      &:hover .card-img-top {
         transform: scale(1.05);
      }
   }

   .card-img-top {
      transition: transform .5s ease;
      transform: scale(1.1);
      border-radius: $border-radius-cards;
   }

   @media (min-width: 768px) {
      padding: 0.5rem;
   }
}

.card-body {
   color: #fff;
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   padding: 2.8rem;

   .card-title{
      font-size: 2.2em;
      line-height: 1em;
      margin-bottom: 14px;
   }

   .card-btn{
      display: flex;
      align-items: center;

      .card-btn-label {
         margin-right: 8px;
      }
   }
}


.card-img-top {
   width: 100%;
   height: auto;
   aspect-ratio: 1;
   object-fit: cover;

   @media (min-width: 768px) {
      aspect-ratio: 2/3;
   }
}
