.ce-cards {
  margin: $spacing-2xl 0;
  .card-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: $border-radius-cards;
    overflow: hidden;

    .card-header {
      height: 15em;
      .card-image {
        object-fit: cover;
        max-width: 100%;
        height: 100%;
      }
    }

    .card-bodytext {
      background: $color-light;
      color: $color-dark;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;

      .title {
        color: $color-primary-100;
        font-size: 1.5rem;
        margin: 0;
      }

      .date {
        font-size: 0.75rem;
        margin-bottom: $spacing-lg;
      }
      .bodytext{
        line-height: 1.5;
        font-size: 1rem;
        margin-bottom: $spacing-md;
      }
    }
    .card-footer{
      height: 2.5rem;
      .base-button--text{
        height: 2.5rem;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:0 0 4px 4px ;
      }
    }
  }

}