.base-header {
  position: fixed;
  background-color: $color-dark;
  width: 100%;
  padding: $spacing-md;
  z-index: 1;
  height: 8rem;
  html.header-scroll & {
    height: 82px;
  }
}

#header-scroll {
  transition: 0.2s;
}

.base-header--logo{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:-10px auto;
  left: 50%;
  transform: translateX(-50%);
}

.base-header--navigation{
  display: none;
}

.base-header--logo {
  color: $color-light;
}

#base-header--logo-default{
  display: flex;
  color: $color-light;
  height: 100px;
  width: 200px;
  html.header-scroll & {
    display: none;
  }
}

#base-header--logo-small{
  color: $color-light;
  display: none;
  justify-content: center;
  height: 64px;
  width: 160px;
  html.header-scroll & {
    display: flex;
  }
}

.base-header__spacing{
  height: 8rem;
  background-color: $color-light;
  width: 100%;
}

@media (min-width: 768px) {
  .base-header--logo {
    margin:-30px auto;
  }
  .base-header--navigation{
    display: inherit;
  }
  #base-header--logo-default{
    display: flex;
    color: $color-light;
    height: 100px;
    html.header-scroll & {
      display: none;
    }
  }

  #base-header--logo-small{
    color: $color-light;
    display: none;
    height: 64px;
    html.header-scroll & {
      display: flex;
    }
  }
}