.base-header {
  position: fixed;
  background-color: $color-light;
  width: 100%;
  padding: $spacing-md;
  z-index: 2;
  height: 8rem;
  html.header-scroll & {
    height: 82px;
  }
  @include md-screen(){
    .base-header--logo{
      position: unset;
      justify-content: start;
      transform: unset;
    }
  }
}

#header-scroll {
  transition: 0.2s;
}

.base-header--logo{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:-10px auto;
  left: 50%;
  transform: translateX(-50%);
}

.base-header--navigation{
  display: none;
}

.base-header--logo {
  color: $color-dark;
  transition: all 0.3s ease;

}
html.header-scroll {
  .base-header--logo{
    transition: all 0.3s ease;
    transform: scale(0.8) translate(-11%, -28px);
  }
}

#base-header--logo-default{
  display: flex;
  color: $color-primary-100;
  height: 100px;
  width: 200px;
  html.header-scroll & {
    svg{
      transition: all 0.3s ease-out;
    }
    svg > path:nth-child(2){
      opacity: 0;
      transition: all 0.3s ease-out;
    }
  }
}

#base-header--logo-small{
  color: $color-light;
  display: none;
  justify-content: center;
  height: 64px;
  width: 160px;
}

.base-header__spacing{
  height: 8rem;
  background-color: $color-light;
  width: 100%;
}
@include md-max-screen(){
  html.header-scroll {
    .base-header--logo{
      transform: scale(.8) translate(-33%, -21px);
    }
  }
}
@include md-screen(){
  .base-header--logo {
    margin:-30px auto;
  }
  .base-header--navigation{
    display: inherit;
  }
  #base-header--logo-default{
    display: flex;
    height: 100px;
  }
}

.language-menu {
  option {
    text-transform: capitalize;
  }
}