.base-header {
  position: fixed;
  background-color: $color-dark;
  width: 100%;
  padding: $spacing-md;
  z-index: 1;
}

#header-scroll {
  height: 8rem;
  transition: 0.2s;
}

.base-header--logo{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:-30px auto;
  left: 50%;
  transform: translateX(-50%);
}

.base-header--navigation{
  display: none;
}

.base-header--logo {
  color: $color-light;
}

#base-header--logo-desktop{
  display: none;
  color: $color-light;
  height: 100px;
}

#base-header--logo-mobile{
  color: $color-light;
  display: flex;
  height: 64px;
}



.base-header__spacing{
  height: $spacing-lg;
  background-color: $color-light;
  width: 100%;
}

@media (min-width: 768px) {
  .base-header--navigation{
    display: inherit;
  }
  #base-header--logo-desktop{
    display: flex;
    color: $color-light;
    height: 100px;
  }

  #base-header--logo-mobile{
    color: $color-light;
    display: none;
    height: 64px;
  }
}