.hero {
  position: relative;

  &-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    bottom: 15%;
    right: 6%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 3rem;
    text-align: right;
    max-width: 31.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
      margin-bottom: 1.5rem;
    }
    .base-button{
      display: flex;
    }
    @include sm-max-screen(){
      left: 6%;
      text-align: center;
      .base-button{
        width: 100%;
        justify-content: center;
      }
    }
  }

  &-media {
    height: calc(100dvh - 10.75rem);
    width: 100vw;
    object-fit: cover;
    @media (min-width: 768px) {
      height: calc(100dvh - 8rem);
    }
  }

  &-scroll {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    $color_1: #fff;
    $background-color_1: $color-dark;
    $background-color_2: #ffffff;

    /* Animations */
    @keyframes colorSlide {
      0% {
        background-position: 0% 100%;
      }
      20% {
        background-position: 0% 0%;
      }
      21% {
        background-color: $color-primary-100;
      }
      29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
      }
      30% {
        background-color: $color-primary-100;
        background-position: 0% 100%;
      }
      50% {
        background-position: 0% 0%;
      }
      51% {
        background-color: $color-primary-100;
      }
      59% {
        background-color: #ffffff;
        background-position: 0% 0%;
      }
      60% {
        background-color: $color-primary-100;
        background-position: 0% 100%;
      }
      80% {
        background-position: 0% 0%;
      }
      81% {
        background-color: $color-primary-100;
      }
      90%,100% {
        background-color: #ffffff;
      }
    }
    @keyframes trackBallSlide {
      0% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
      }
      6% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
      }
      14% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
      }
      15%,19% {
        opacity: 0;
        transform: scale(0.4) translateY(-10px);
      }
      28%,29.99% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
      }
      30% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
      }
      36% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
      }
      44% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
      }
      45%,49% {
        opacity: 0;
        transform: scale(0.4) translateY(-10px);
      }
      58%,59.99% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
      }
      60% {
        opacity: 1;
        transform: scale(0.9) translateY(-10px);
      }
      66% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
      }
      74% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
      }
      75%,79% {
        opacity: 0;
        transform: scale(0.4) translateY(-10px);
      }
      88%,100% {
        opacity: 1;
        transform: scale(1) translateY(-10px);
      }
    }
    @keyframes nudgeMouse {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(8px);
      }
      30% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(8px);
      }
      60% {
        transform: translateY(0);
      }
      80% {
        transform: translateY(8px);
      }
      90% {
        transform: translateY(0);
      }
    }
    @keyframes nudgeText {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(2px);
      }
      30% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(2px);
      }
      60% {
        transform: translateY(0);
      }
      80% {
        transform: translateY(2px);
      }
      90% {
        transform: translateY(0);
      }
    }
    .mouse {
      width: 22px;
      height: 38px;
      position: relative;
      background: $color-primary-100 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
      background-size: 100% 200%;
      border-radius: 100px;
      animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 16px;
        height: 32px;
        background-color: $background-color_1;
        border-radius: 100px;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background-color: $background-color_2;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        animation: trackBallSlide 5s linear infinite;
      }
    }
    .text {
      margin-top: 10px;
      letter-spacing: 4px;
      color: $color_1;
      font-size: 0.75rem;
    }

  }
}

