.base-nav{
  display: flex;
  justify-content: space-between;
  gap: $spacing-md;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}

.nav--menu-item {
  font-size: 1em;
  text-decoration: none;
  color: $color-light;
  border-bottom: 1px solid transparent;

  @media (min-width: 768px) {
    font-size: 1.2em;
  }
}

@media (min-width: 768px) {
  .base-nav {
    justify-content: flex-end;
  }

  .nav--menu-item:hover {
    border-bottom: 1px solid $color-primary-100;
  }
}