.base-nav{
  display: flex;
  justify-content: space-between;
  gap: $spacing-md;
  align-items: center;
  width: 100%;
}

.nav--menu-item:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform .3s ease-in-out, background-color .3s ease-in-out;
  width: 100%;
}

.nav--menu-item {
  position: relative;
  font-size: 0.95em;
  text-decoration: none;
  color: $color-primary-100;
  text-transform: uppercase;
  padding: 8px 0;

  @media (min-width: 768px) {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .base-nav {
    justify-content: flex-end;
  }

  .nav--menu-item:hover {
    &:before {
      background-color: $color-primary-100;
      transform: scaleX(1);
    }
  }
}