.product-detail{
  padding: 4.375rem 0 3.75rem;
  .carousel{
    img{
      width: 100%;
      object-fit: cover;
      height: auto;
      aspect-ratio: 1/1;
    }
  }
  h3.product-detail--category{
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0;
    font-weight: 400;
  }
  h1.product-detail--title{
    color: $color-primary-100;
    font-weight: 600;
  }
  &--sizes{
    display: flex;
    gap: $spacing-md;
    margin-bottom: $spacing-md;
    a{
      color: black;
      padding: 0.75rem 1rem;
      min-width: 4.5rem;
      text-align: center;
      &:hover{
        color: black;
      }
      &.active{
        border-radius: $base-border-radius;
        border: $base-border solid $color-primary-100;
      }
    }
  }
  &--properties{
    margin-bottom: $spacing-lg;
    &>div{
      display: none;
      animation: fadeIn 1s;

      p{
        line-height: 1.25rem;

      }
      &.active{
        animation: fadeIn 1s;
        display: block;
      }
    }
  }
  h2.accordion-header{
    border-bottom: $base-border solid $color-dark;
    button{
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
  .accordion{
    margin-bottom: 4rem;
    &-body{
      p{
        line-height: 1.5rem;
      }
      ul li{
        list-style: disc;
        list-style-position: inside;
        line-height: 1.5rem;
      }
    }
  }

  a.product-detail--link{
    display: block;
    color: $color-dark;
    width: 100%;
    text-align: center;
    border-radius: $base-border-radius;
    background-color: $color-primary-100;
    padding: 0.75rem;
  }
}

@include md-max-screen(){
  .product-detail{
    padding: 1.5rem 0 1.5rem;
    .row{
      row-gap: 1rem;
    }
    .accordion{
      margin-bottom: 2rem;
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
