.base-button--text {
  border: $base-border solid $color-primary-100;
  background-color: $color-primary-100;
  border-radius: 4px;
  color: $color-light;
  padding: 0.5rem 1.2rem;
  display: block;
  text-align: center;

  &:hover {
    background-color: $color-light;
    color: $color-dark;
  }
}
