<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <div class="ce-cards">
        <div class="container">
            <div class="row">
                <f:for as="card" each="{cardItems}">
                    <div class="col-12 col-md-3 col-xs-12">
                        <div class="card-item">
                            <div class="card-header">
                                <f:if condition="{card.files.0}">
                                    <f:image class="card-image" image="{card.files.0}" treatIdAsReference="1"/>
                                </f:if>
                            </div>
                            <div class="card-bodytext">
                                <h3 class="title">{card.data.header}</h3>
                                <span class="date">{card.data.date -> f:format.date()}</span>
                                <div class="bodytext">{card.data.bodytext -> f:format.raw()}</div>

                                <f:render partial="TextButton"
                                          arguments="{link:card.data.link, link-text:card.data.link_label}"/>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </div>
    </div>
</f:section>

</html>