<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-text">
                        <h1>{data.header}</h1>
                        <p>{data.bodytext}</p>
                        <f:render partial="TextButton" arguments="{link:data.header_link, link-text:data.subheader}" />
                    </div>
                    <div class="hero-scroll">
                        <a href="#product-teaser">Scroll down</a>
                    </div>
                </div>
            </div>
        </div>
        <f:media class="hero-media" file="{media.0}" />
    </div>
</html>