<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="hero">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-text">
                        <h2>{data.header}</h2>
                        <p>{data.bodytext}</p>
                        <f:render partial="TextButton" arguments="{link:data.header_link, link-text:data.subheader}" />
                    </div>
                    <a href="#product-teaser" class="hero-scroll">
                        <div class="mouse"></div>
                        <div class="text">Scroll down</div>
                    </a>
                </div>
            </div>
        </div>
        <f:media class="hero-media" file="{media.0}" />
    </div>
</html>